body{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

header{
    color: #253879;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr;
}

form{
    padding: 10px;
}
h2{
    background-color: #3a61ef;
    text-align: center;
    color: white;
    padding: 20px;
}

fieldcheck{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-row: 0.1fr 1fr 1fr 1fr;
}
legend{
    grid-column: 1 / 3;
}


footer{
    background-color: #253879;
    height: 50px;
}